#root {
  max-width: 1280px;
  height: 100vh;
  text-align: center;
}

.card {
  padding: 0px 16px;
  background-color: rgba(56, 0, 130, 0.315);
  backdrop-filter: blur(8px);
  border-radius: 8px;
}
.main-card {
  height: 100vh;
  border-radius: 0;
  padding: 0px 16px;
  width: 380px;
}

.logo {
  height: 8em;
  border-radius: 50%;
  margin-top: 16px;
}

.folio {
  color: aqua;
}
.sub-head {
  margin-top: 0;
}
.with-sub-head {
  margin-bottom: 0;
}
.section-header {
  text-align: left;
  width: 100%;
}

/* CONTAINERS */
.vertical-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.vertical-buttons button {
  width: 100%;
  margin: 4px 0px;
}
